@font-face {
  font-family: Arimo;
  src: url(../../assets/fonts/static/Arimo-SemiBold.ttf);
}
@font-face {
  font-family: Arimo;
  src: url(../../assets/fonts/static/Arimo-Bold.ttf);
}
@font-face {
  font-family: Arimo;
  src: url(../../assets/fonts/static/Arimo-Medium.ttf);
}
@font-face {
  font-family: Arimo;
  src: url(../../assets/fonts/static/Arimo-Regular.ttf);
}
