@keyframes closeSideBar {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-950px);
  }
}

@keyframes openSideBar {
  0% {
    transform: translateX(-950px);
  }
  100% {
    transform: translateX(0);
  }
}
@keyframes open-dropdown-animation {
  from {
    max-height: 0;
  }
  to {
    max-height: 500px;
  }
}

@keyframes close-dropdown-animation {
  from {
    max-height: 500px;
  }
  to {
    max-height: 0;
  }
}

@keyframes moveDiagonal {
  0% {
    opacity: 0;
    top: 90%;
    left: 80%;
  }
  50% {
    top: 80%;
    left: 70%;
  }
  100% {
    opacity: 1;
    top: 70%;
    left: 50%;
  }
}
@keyframes hideDiagonal {
  0% {
    opacity: 1;
    top: 70%;
    left: 50%;
  }
  50% {
    top: 80%;
    left: 70%;
  }
  100% {
    opacity: 0;
    display: none;

    top: 90%;
    left: 80%;
  }
}
