@import "config/colors.css";
@import "config/fontFamily.css";

@import "animations.css";

@import "header.css";
@import "cartList.css";
@import "banner.css";
@import "productList.css";
@import "video.css";
@import "collection.css";
@import "talkToUs.css";
@import "newsletter.css";
@import "footer.css";

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  font-family: "Montserrat", sans-serif;
}
